body{
  background-color: #feebcb;
  margin: auto;
}

/************* Header styling*************/
header{
  width: 100%;
  background-image: url("600x398.jpg");
  background-repeat: repeat;
  padding: 0.5% 0%;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  text-shadow: 1px 1.5px 0px #666;
  color: #FE93D7;
}


nav{
  background-color: #F1FFCE;
  width: 100%;
  margin: 1em auto;
}


a.nav{
  background-color: #F1FFCE;
  margin: auto;
  display: inline-block;
  padding: 5px 10px;
  color: #feced7;
  text-decoration: none;
}

a.nav:hover{
  background-color: #A4AD8C;
}


/********************* Body Styling**********************/

/*=================Truck Animation==============*/

div.truck {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color: #FE93D7;
    position: absolute;
    top: 200px;
    background-color: none;
    -webkit-animation: running 10s infinite linear; /* Chrome, Safari, Opera */
         -o-animation: running 10s infinite linear;
        -ms-animation: running 10s infinite linear;
       -moz-animation: running 10s infinite linear;
    animation-animation: running 10s infinite linear;
}

div.truck:hover{
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes running {
  0%   {left: 0%;}
  100%  {left: 100%;}
}

@-o-keyframes running {
  0%   {left: 0%;}
  100%  {left: 100%;}
}

@-ms-keyframes running {
  0%   {left: 0%;}
  100%  {left: 100%;}
}

@-moz-keyframes running {
  0%   {left: 0%;}
  100%  {left: 100%;}
}

/* Standard syntax */
@keyframes running {
  0%   {left: 0%;}
  100%  {left: 100%;}
}

/*==============End of Truck Animation======*/




div.sections{
  font-family: 'Indie Flower', cursive;
  margin: 40px auto;
  height: 232px;
  width: 750px;  /*setting fixed pixel well eliminate the text flowing out of BG*/
  border-radius: 10px;
}

div.sections:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-animation: scale(1.1);
  transform: scale(1.1);
}

div#intro{
  margin-top: 150px;
  background-color: #DDEFC8;
}

div#special{
  background-color: #feced7;
}

div#wedding{
  background-color: #cecce9;
}

img{
  float: left;
  padding: 1em;
}

div.text{
  /*height: 200px;*/
  margin: auto;
  padding: 1em;
}

h3.inText{
  margin: auto;
}

p.text{
  margin: 0px;
}

h2#franchise{
  width: 950px;
  font-family: 'Indie Flower', cursive;
  color: #FE93D7;
  margin: auto;
  text-align: center;
}

table{
  font-family: 'Abril Fatface', cursive;
  background-color:#accfcc;
  margin: 50px auto 20px auto;
  border-collapse: collapse;
  border: solid 1px black;
}

legend{
  margin: auto;
}

tr#hoursHeading{
  font-family: 'Shadows Into Light', cursive;
  background-color: #fff;
  padding: 7px 20px 7px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  border-bottom: solid 1px black;
}

td{
  padding: 1em;
  border-bottom: solid 1px black;
  padding-left: 5px;
  text-align: center;
}


form{
  width: 25%;
  margin: 0px auto 50px auto;
}

fieldset{
  border: none;
}

input{
  width: 98%;
}

input:focus{
  margin: auto;
  background-color: #FFFDD3;
}

button:active{
  background-color: #DDD2FF;
  width: 30%;
  margin: auto;
}

a.BackToTop{
  position: absolute;
  left: 40%;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: Brown;
}

/**************** Special styling for smaller screen***************/
/*===============================================================*/

@media screen and (max-width: 750px) {

  body{
    background-color: #feebcb;
  }
  /****Header*******/
  header{
    background-image: url("tiles.jpeg");
    background-repeat: repeat;
    padding: 0.1% 0%;
    text-align: center;
    /*letter-spacing: 0.1em;*/
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    text-shadow: 1px 1.5px 0px #666;
    color: #daf3da;
  }

  h1.nav{
    margin: 0px;
  }
  h2.nav{
    font-size: 0.75em;
    margin: none;
  }

  nav{
    background-color: #F1FFCE;
    width: 100%;
    margin: auto;
  }

  a.nav{
    font-size: 0.08em;
    background-color: #F1FFCE;
    margin: auto;
    display: inline-block;
    padding: 0.5em;
    color: #feced7;
    text-decoration: none;
  }
  /********Body********/
  div.truck{
    display: none;
  }
  div.sections{
    display: none;
  }

  h2#franchise{
    font-size: 0.75em;
    width: 80%;
    font-family: 'Indie Flower', cursive;
    color: #FE93D7;
    margin: 50px auto 0px auto;
    text-align: center;
  }

  table{
    font-size: 0.005em;
    font-family: "Helvetica", 'san-serif';
    background-color:#accfcc;
    margin: 50px auto 20px auto;
    border-collapse: collapse;
    border: solid 1px black;
  }

  tr#hoursHeading{
    font-family: "Helvetica", 'san-serif';
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 0.005em;
    border-bottom: solid 1px black;
  }

  td{
    border-bottom: solid 1px black;
    text-align: center;
  }

  form{
    width: 50%;
    margin: auto;
  }

  fieldset{
    border: none;
  }

  input{
    width: 98%;
  }

  input:focus{
    margin: auto;
    background-color: #FFFDD3;
  }

  button:active{
    background-color: #DDD2FF;
    width: 30%;
    margin: auto;
  }

  a.BackToTop{
    display: none;
  }
}
