
body{
  background-color: #feebcb;
  margin: auto;
}

/************* Header styling*************/
header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-image: url("600x398.jpg");
  background-repeat: repeat;
  padding: 0.5% 0%;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  text-shadow: 1px 1.5px 0px #666;
  color: #FE93D7;
}

h2.nav{
  font-size: 1em;
  margin: none;
}

nav{
  background-color: #F1FFCE;
  width: 100%;
  margin: 1em auto;
}


a.nav{
  background-color: #F1FFCE;
  margin: auto;
  display: inline-block;
  padding: 0.25em;
  color: #feced7;
  text-decoration: none;
}

a.nav:hover{
  background-color: #A4AD8C;
}


/************* Body Styling*********/
div.sections{
  font-family: 'Indie Flower', cursive;
  margin: 40px auto;
  height: 232px;
  width: 750px;  /*setting fixed pixel well eliminate the text flowing out of BG*/
  border-radius: 10px;
  /*@media screen and (min-width: 550px){
    height: 5%;
    width: 20%;
  }*/
}

div#intro{
  margin-top: 300px;
  background-color: #DDEFC8;
}

div#special{
  background-color: #feced7;
}

div#wedding{
  background-color: #cecce9;
}

img{
  float: left;
  margin: auto;
  padding: 1em;
}

div.text{
  /*height: 200px;*/
  margin: auto;
  padding: 1em;
}

h3.inText{
  margin: auto;
}

p.text{
  margin: 0px;
}

h2#franchise{
  width: 950px;
  font-family: 'Indie Flower', cursive;
  color: #FE93D7;
  margin: auto;
  text-align: center;
}

table{
  font-family: 'Abril Fatface', cursive;
  background-color:#accfcc;
  margin: 50px auto 20px auto;
  border-collapse: collapse;
  border: solid 1px black;
}

legend{
  margin: auto;
}

tr#hoursHeading{
  font-family: 'Shadows Into Light', cursive;
  background-color: #fff;
  padding: 7px 20px 7px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  border-bottom: solid 1px black;
}

td{
  padding: 1em;
  border-bottom: solid 1px black;
  padding-left: 5px;
  text-align: center;
}


form{
  width: 25%;
  margin: 0px auto 50px auto;
}

fieldset{
  border: none;
}

input{
  width: 98%;
}

input:focus{
  margin: auto;
  background-color: #FFFDD3;
}

button:active{
  background-color: #DDD2FF;
  width: 30%;
  margin: auto;
}

a.BackToTop{
  position: absolute;
  left: 40%;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: Brown;
}

/********************** Special styling for smaller screen*****/
/***************************************************************/

@media screen and (max-width: 750px) {

  body{
    background-color: #feebcb;
    margin: auto;
  }
  /****Header*******/
  header{
    background-image: url("tiles.jpeg");
    background-repeat: repeat;
    padding: 0.1% 0%;
    text-align: center;
    /*letter-spacing: 0.1em;*/
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    text-shadow: 1px 1.5px 0px #666;
    color: #daf3da;
  }

  h1.nav{
    margin: 0px;
  }
  h2.nav{
    font-size: 0.75em;
    margin: none;
  }

  nav{
    background-color: #F1FFCE;
    width: 100%;
    margin: auto;
  }

  a.nav{
    background-color: #F1FFCE;
    margin: auto;
    display: inline-block;
    padding: 0.1em;
    color: #feced7;
    text-decoration: none;
  }
  /********Body********/
  div.sections{
    display: none;
  }

  h2#franchise{
    font-size: 0.75em;
    width: 80%;
    font-family: 'Indie Flower', cursive;
    color: #FE93D7;
    margin: 2em auto 0px auto;
    text-align: center;
  }

  table{
    font-size: 0.005em;
    font-family: "Helvetica", 'san-serif';
    background-color:#accfcc;
    margin: 100px auto 20px auto;
    border-collapse: collapse;
    border: solid 1px black;
  }

  tr#hoursHeading{
    font-family: "Helvetica", 'san-serif';
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 0.005em;
    border-bottom: solid 1px black;
  }

  td{
    border-bottom: solid 1px black;
    text-align: center;
  }

  form{
    width: 50%;
    margin: auto;
  }

  fieldset{
    border: none;
  }

  input{
    width: 98%;
  }

  input:focus{
    margin: auto;
    background-color: #FFFDD3;
  }

  button:active{
    background-color: #DDD2FF;
    width: 30%;
    margin: auto;
  }
}
